@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 15px;
  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Lexend Deca', sans-serif;
}